<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Amazing Todo App</title>
  </head>
  <body>

    <div class="tododiv">
      <form action="/create" method="post">
        <h1>Amazing Todo App</h1>
        <input type="text" name="todo" placeholder="Write your awesome todo here!" />
        <button id="addnote" type="submit">Add Todo</button>
      </form>

      {{#errors}}
        {{msg}}
      {{/errors}}

      <table>
        {{#todos}}
        <tr>
          <td class={{isChecked}}>{{body}}</td>
          <td>
            <form action="/complete/{{id}}" method="post">
              <button id="complete-btn" type="submit">Complete Task</button>
            </form>
          </td>
        </tr>
        {{/todos}}
      </table>

      {{^todos}}
        You have no to do's yet!
      {{/todos}}

    </div>
  </body>
</html>
