<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <title>To do list</title>
  </head>
  <body>

  <form action="/" method="post">
    <h1>User Name</h1>
    <p>Enter your email</p>
    <input type="text" name="email" placeholder="email address" />
    <button type="submit">Submit</button>
  </form>

  </body>
</html>
