<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <title>To do list</title>
  </head>
  <body>

  <form action="/create" method="post">
    <h1>Add a todo</h1>
    <input type="text" name="todo" placeholder="To Do" />
    <button type="submit">Submit</button>
  </form>

  <ul>
    {{#todos}}
      <li class={{isChecked}}>{{body}} |
        <form action="/complete/{{id}}" method="post">
          <button type="submit">Complete</button>
        </form>
      </li>
    {{/todos}}
  </ul>

  {{^todos}}
    <span>no items found</span>
  {{/todos}}

  </body>
</html>
